<%= form_for(@proyecto,:html=>{:onsubmit=>"return validacionProyecto();"}) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <style>
select#proyecto_inicio_1i {
  display: inline;
  width: auto;
    height: 30px;
    padding: 0;
}
select#proyecto_inicio_2i {
  display: inline;
  width: auto;
   height: 30px;
    padding: 0;
}
select#proyecto_inicio_3i {
  display: inline;
  width: auto;
   height: 30px;
    padding: 0;
}
select#proyecto_fin_1i {
  display: inline;
  width: auto;
   height: 30px;
    padding: 0;
}
select#proyecto_fin_2i {
  display: inline;
  width: auto;
   height: 30px;
    padding: 0;
}
select#proyecto_fin_3i {
  display: inline;
  width: auto;
   height: 30px;
    padding: 0;
}
form select{
	 height: 30px;
    padding: 0;
}

  </style>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :onkeyup=>"notNull(this);" %>
  </div>
  <div class="field">
    <label for="proyecto_tipo">Tipo  <i class="fa fa-plus-circle fa-2x" onclick="document.getElementById('proyecto_tipo').disabled=false;if(document.getElementById('add').style.display=='block'){document.getElementById('add').style.display='none'}else{document.getElementById('add').style.display='block';document.getElementById('edit').style.display='none';}">
  
    </i> <i class="fa fa-pencil-square-o fa-2x" onclick="if(document.getElementById('proyecto_tipo').value!='Seleccione un tipo'){document.getElementById('edit').src='/tipo_proyectos/'+document.getElementById('proyecto_tipo').value+'/edit'};if(document.getElementById('proyecto_tipo').value!='Seleccione un tipo'){if(document.getElementById('edit').style.display=='block'){document.getElementById('edit').style.display='none';document.getElementById('proyecto_tipo').disabled=false;}else{document.getElementById('edit').style.display='block';document.getElementById('add').style.display='none';document.getElementById('proyecto_tipo').disabled=true;}};"></i> 
    <i class="fa fa-times fa-2x" onclick="document.getElementById('proyecto_tipo').disabled=false;if(document.getElementById('proyecto_tipo').value!='Seleccione un tipo'){document.getElementById('add').style.display='none';document.getElementById('edit').style.display='none';$.ajax({
  url: '/delTipoProyecto/'+document.getElementById('proyecto_tipo').value});var x = document.getElementById('proyecto_tipo');
    x.options[x.selectedIndex] =null};"></i></label> 
    
    <iframe id="add" src="<%=new_tipo_proyecto_path%>" style="display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
    <iframe id="edit" src="" style="display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
    <select name="proyecto[tipo]" id="proyecto_tipo" onclick="notNull(this);">
  <%= content_tag(:option, "Seleccione un tipo", value: "Seleccione un tipo") %>
  
  <% @tipo_proyectos.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).each do |tipo_proyecto|%>
  
  <%if @proyecto.tipo.eql? tipo_proyecto.nombre%>
    <%= content_tag(:option, tipo_proyecto.nombre, value: tipo_proyecto.id, selected: true) %>
    <%else%>
    <%= content_tag(:option, tipo_proyecto.nombre, value: tipo_proyecto.id) %>
    <%end%>
    
  <% end %>
</select>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, :onkeyup=>"notNull(this);" %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.date_select :inicio, :order => [:day, :month, :year], use_two_digit_numbers: true %>
  </div>
  <div class="field">
    <%= f.label :fin %><br>
    <%= f.date_select :fin, :order => [:day, :month, :year], use_two_digit_numbers: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
