<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Proyecto</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Editando el Proyeto <%= @proyecto.id %>.</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
							<%= render 'form' %>

<%= link_to 'Show', @proyecto %> |
<%= link_to 'Back', proyectos_path %>

</div>
					</section>

			</div>

	</body>
</html>
