<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | inicio</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Lista de proyectos de <%=@current_user["alias"]%></h2>
							</header>
						</div>
					</section>
					
		<p style="text-align: center;"><a href="<%=new_grupo_path%>" ><i class="fa fa-plus-circle fa-2x"></i>Añadir grupo.</a> </p>
<% Grupo.all.where(:idUsuario=>@current_user["id"]).each do |grupo|%>
				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
							<%if grupo.admin=="true"%>
					<p style="text-align: right;"><a href="<%=delGrupo_path(grupo.idGrupoUsuario)%>"><i class="fa fa-times fa-2x"></i>Eliminar</a></p>	
								<%end%>
<p style="font-size: large;">Grupo <%=grupo["nombre"]%>.</p>
<p>Miembros:<br />
	<%Grupo.all.where(:idGrupoUsuario=>grupo.idGrupoUsuario).each do |user|%>
	<%if user.admin=="false" or user.admin=="tru"%>
	<a href="<%=del_user_grupo_path(:igu=>grupo.idGrupoUsuario,:iu=>user.idUsuario)%>"><i class="fa fa-times fa-1x"></i></a>
	<%end%>
		<%=Usuario.find(user.idUsuario).alias%><%if user.admin=="true" or user.admin=="tru"%>(admin)<%end%>
		<%if user.admin=="false" and (grupo.admin=="true" or grupo.admin=="tru")%>
			(<a href="<%=darPermisos_path(:igu=>grupo.idGrupoUsuario,:iu=>user.idUsuario)%>">Dar Permisos</a>)
		<%end%>
		<%if user.admin=="tru" and grupo.admin=="true"%>
			(<a href="<%=quitarPermisos_path(:igu=>grupo.idGrupoUsuario,:iu=>user.idUsuario)%>">Quitar Permisos</a>)
		<%end%>
		<br />
	<%end%>
	<%if grupo.admin=="true" or grupo.admin=="tru"%>
	<a href="<%=addUserToGroup_path(grupo.idGrupoUsuario)%>"><i class="fa fa-plus-circle"></i>Añadir miembro al grupo</a>
	<%end%>
</p>

<table>
  <thead>
    <tr>
      <th style="border: black 1px solid;padding: 5px;">Nombre</th>
      <th style="border: black 1px solid;padding: 5px;">Tipo</th>
      <th style="border: black 1px solid;padding: 5px;">Descripcion</th>
      <th style="border: black 1px solid;padding: 5px;">Inicio</th>
      <th style="border: black 1px solid;padding: 5px;">Fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
      	<%if proyecto.idUsuario== grupo.idGrupoUsuario%>
        <td style="border: black 1px solid;"><%= proyecto.nombre %></td>
        <td style="border: black 1px solid;"><%= proyecto.tipo %></td>
        <td style="border: black 1px solid;"><%= proyecto.descripcion %></td>
        <td style="border: black 1px solid;"><%= proyecto.inicio.to_s.split("-").reverse.join("/") %></td>
        <td style="border: black 1px solid;"><%= proyecto.fin.to_s.split("-").reverse.join("/") %></td>
        <td><%= link_to 'Show', proyecto %></td>
        <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <%if grupo.admin=="true" or grupo.admin=="tru"%>
        <td><%= link_to 'Destroy', delProyecto_path(proyecto) %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to nuevoProyecto_path(grupo.idGrupoUsuario)do%>
<i class="fa fa-plus"> Nuevo Proyecto</i>
<%end%>
</div>
					</section>
<%end%>
			</div>

	</body>
</html>
