<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Proyecto</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Proyeto <%= @proyecto.id %>. <%= @proyecto.nombre %></h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
						<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @proyecto.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @proyecto.inicio.to_s.split("-").reverse.join("/") %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @proyecto.fin.to_s.split("-").reverse.join("/") %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
<%=render template: "riesgos/index.html.erb"%>
<br /><hr /><br />
<div>SUGERENCIAS</div>
<table>
  <thead>
    <tr>
    	<th colspan="2"></th>
      <th style="border: black 1px solid;padding: 5px;">Nombre</th>
      <th style="border: black 1px solid;padding: 5px;">Probabilidad</th>
       <th style="border: black 1px solid;padding: 5px;">Impacto</th>
     <!-- <th style="border: black 1px solid;padding: 5px;">Categoria</th>
      <th style="border: black 1px solid;padding: 5px;">Tipo</th>
      <th style="border: black 1px solid;padding: 5px;">Descripcion</th>
      <th style="border: black 1px solid;padding: 5px;">Factores</th>
      <th style="border: black 1px solid;padding: 5px;">Reduccion</th>
      <th style="border: black 1px solid;padding: 5px;">Supervision</th>-->
      <th colspan="1"></th>
    </tr>
  </thead>
<%contador=0%>
<%add=0%>
  <tbody>
    <% @riesgos.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).sort_by { |a| -(@riesgos.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).count[a.nombre] ) }.each do |riesgo| %>
      
      <tr>
      	
      	<%if riesgo.idProyecto!=@current_proyecto%>
      	<%if @riesgos.where(:idUsuario=>Proyecto.find(@current_proyecto).idUsuario).where(:idProyecto=>@current_proyecto).group(:nombre).count[riesgo.nombre]==nil%>
      	<%contador=contador+1%>
      	<td colspan="2"></td>
        <td style="border: black 1px solid;"><%= riesgo.nombre %></td>
        <td style="border: black 1px solid;"><%= riesgo.probabilidad %></td>
        <td style="border: black 1px solid;"><%= riesgo.impacto %></td>
        <!--<td style="border: black 1px solid;"><%= riesgo.categoria %></td>
        <td style="border: black 1px solid;"><%= riesgo.tipo %></td>
        <td style="border: black 1px solid;"><%= riesgo.descripcion %></td>
        <td style="border: black 1px solid;"><%= riesgo.factores %></td>
        <td style="border: black 1px solid;"><%= riesgo.reduccion %></td>
        <td style="border: black 1px solid;"><%= riesgo.supervision %></td>-->
        <td ><%= link_to 'Show', riesgo %></td>
        <td ><%= link_to 'Añadir', addRiesgo_path(riesgo.id) %></td>
      
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
					</section>

			</div>

	</body>
</html>
