<% user @current_user %>
<%= form_for(@tipo_proyecto) do |f| %>
  <% if @tipo_proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_proyecto.errors.count, "error") %> prohibited this tipo_proyecto from being saved:</h2>

      <ul>
      <% @tipo_proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	#tipo_proyecto_nombre{
		width: 280px;
	}
</style>
  <div class="field">
     <%= f.label :nombre %><br>
     <%= f.text_field :nombre, :required=>true,:maxlength=>"255" %>
     </div>
  <div class="actions">
  	<%if @tipo_proyecto.id!=nil%>
    <input type="submit" name="commit" value="Modificar" onclick="if(notNull(document.getElementById('tipo_proyecto_nombre'))){parent.document.getElementById('edit').style.display='none';var x = parent.document.getElementById('proyecto_tipo');
    x.options[x.selectedIndex].text = document.getElementById('tipo_proyecto_nombre').value;parent.document.getElementById('proyecto_tipo').disabled=false;}">
    <%else%>
    <input type="submit" name="commit" value="Añadir" onclick="if(notNull(document.getElementById('tipo_proyecto_nombre'))){parent.document.getElementById('add').style.display='none';var x = parent.document.getElementById('proyecto_tipo');
    var option = document.createElement('option');
    option.text = document.getElementById('tipo_proyecto_nombre').value;
    <%tp=TipoProyecto.new%>
    <%tp.idUsuario=0%>
    <%tp.nombre="nombre Vacio"%>
    <%tp.save%>
option.value=<%=TipoProyecto.all.last.id+1%>;
<%tp.destroy%>
    x.add(option);}">
    <%end%>
  </div>
<% end %>

<script>
	function notNull(elemento) {
 	var Nombre=elemento.value;
	
   if(!Nombre || /^\s*$/.test(Nombre) ||Nombre==""){
   	elemento.style.borderColor='red';
   	return false;
   }else{
		elemento.style.borderColor='green';
		return true;
	}
  
}
</script>