<p id="notice"><%= notice %></p>

<h1>Listing Tipo Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Idusuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_proyectos.each do |tipo_proyecto| %>
      <tr>
        <td><%= tipo_proyecto.nombre %></td>
        <td><%= tipo_proyecto.idUsuario %></td>
        <td><%= link_to 'Show', tipo_proyecto %></td>
        <td><%= link_to 'Edit', edit_tipo_proyecto_path(tipo_proyecto) %></td>
        <td><%= link_to 'Destroy', tipo_proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo proyecto', new_tipo_proyecto_path %>
