<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Proyecto</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main" >

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Nuevo Tipo</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
				<%= render 'form' %>
</div>
					</section>

			</div>

	</body>
</html>


