<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_proyecto.nombre %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @tipo_proyecto.idUsuario %>
</p>

<%= link_to 'Edit', edit_tipo_proyecto_path(@tipo_proyecto) %> |
<%= link_to 'Back', tipo_proyectos_path %>
