<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recuperación de su contraseña</h1>
    <p>
      Su contraseña es: <%= @user.password %>.<br>
      Tenga cuidado de no perderla de nuevo.
    </p>
    <p>
      Por favor visite nuestra pagina, siga este link: <%= @url %>.
    </p>
    <p>!Que tenga un buen dia!</p>
  </body>
</html>