Recuperación de su contraseña
==============================
Su contraseña es: <%= @user.password %>.
Tenga cuidado de no perderla de nuevo.

Por favor visite nuestra pagina, siga este link: <%= @url %>.
    
!Que tenga un buen dia!