<%= form_for(@grupo,:html=>{:onsubmit=>"return validacionGrupo();"}) do |f| %>
  <% if @grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

      <ul>
      <% @grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :required=>true,:maxlength=>"255",:onkeyup=>"notNull(this);" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
