<p id="notice"><%= notice %></p>

<h1>Listing Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Idusuario</th>
      <th>Idgrupousuario</th>
      <th>nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.idUsuario %></td>
        <td><%= grupo.idGrupoUsuario %></td>
        <td><%= grupo.nombre %></td>
        <td><%= link_to 'Show', grupo %></td>
        <td><%= link_to 'Edit', edit_grupo_path(grupo) %></td>
        <td><%= link_to 'Destroy', grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo', new_grupo_path %>
