<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Nuevo Grupo</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Crear Nuevo Grupo.</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
						
<%= render 'form' %>

<%= link_to 'Volver', proyectos_path %>
</div>
					</section>

			</div>

	</body>
</html>