<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @grupo.idUsuario %>
</p>

<p>
  <strong>Idgrupousuario:</strong>
  <%= @grupo.idGrupoUsuario %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
