<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | estadisticas</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Mis estadísticas.</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
							<%if Grupo.all!=nil and Grupo.all.where(:idUsuario=>@current_user["id"])!=nil%>
							<%Grupo.all.where(:idUsuario=>@current_user["id"]).each do |grup|%>
							<p style="font-size: large;">Grupo <%=grup.nombre%>.</p>
							<div style="    border: black 1px dotted;">
							<%if Proyecto.all!=nil and Proyecto.all.where(:idUsuario=>grup.idGrupoUsuario)!=nil%>
							<p>Numero de proyectos: <%=Proyecto.all.where(:idUsuario=>grup.idGrupoUsuario).count%></p>
							<%end%>
							
							<p>Numero de riesgos: <%=Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).count%></p>
							<%if Proyecto.all!=nil and Proyecto.all.where(:idUsuario=>grup.idGrupoUsuario).count>0%>
							<p>Numero de riesgos por Proyectos(si ha eliminado algun proyecto los riesgos no se eliminan automaticamente para poder ofrecer sugerencias):<br />
								<%Proyecto.all.where(:idUsuario=>grup.idGrupoUsuario).each do |proyecto|%>
								<hr /><br />
								Proyecto: <%=proyecto.nombre%><br />
								Riesgos: <%=Riesgo.all.where(:idUsuario=>grup.idGrupoUsuario).where(:idProyecto=>proyecto.id).count%>
								<%if Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).count>0%>
								 => <%=(Riesgo.all.where(:idUsuario=>grup.idGrupoUsuario).where(:idProyecto=>proyecto.id).count*100/Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).count)%>% 
								 <%end%><br />
								
								<%end%>
							</p>
							<%end%>
							</div>
							<br />
							<%end%>
							
							<%if Riesgo.all!=nil and Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"]))!=nil%>
							<p>Lista de los 10 riesgos más usados en mis grupos.<br />
								<table>
  <thead>
    <tr>
    	<th colspan="2"></th>
      <th style="border: black 1px solid;padding: 5px;">Nombre</th>
      <th style="border: black 1px solid;padding: 5px;">Probabilidad</th>
       <th style="border: black 1px solid;padding: 5px;">Impacto</th>
      <th style="border: black 1px solid;padding: 5px;"> Valor</th>
    </tr>
  </thead>
<%contador=0%>
<%add=0%>
  <tbody>
    <% Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).sort_by { |a| -(Riesgo.all.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).count[a.nombre] ) }.take(10).each do |riesgo| %>
      
      <tr>
     
      	<%contador=contador+1%>
      	<td colspan="2"></td>
        <td style="border: black 1px solid;"><%= riesgo.nombre %></td>
        <td style="border: black 1px solid;"><%= riesgo.probabilidad %></td>
        <td style="border: black 1px solid;"><%= riesgo.impacto %></td>
        <td style="border: black 1px solid;"><%= Float(riesgo.probabilidad)*Float(ImpactoRiesgo.where(:nombre=>riesgo.impacto).where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).first.ponderacion)%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
							</p>
							<%end%>
							<%end%>
						</div>
					</section>

			</div>

	</body>
</html>