<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | inicio</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">APLICACIÓN WEB PARA EL SEGUIMIENTO DE RIESGOS ASOCIADOS A PROYECTOS DE SOFTWARE</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">

							<header>
								<h2>BIENVENIDO!!!</h2>
							</header>

							<p>La intención de esta Aplicación Web es permitir la administración integral del riesgo en proyectos de desarrollo de Sistemas de Software, y, al mismo tiempo, generar conocimiento que enriquezca el análisis de proyectos subsiguientes.</p>
							
							<p>Esta herramienta permitirá realizar el seguimiento de riesgos para un proyecto desde su comienzo y mientras el mismo se encuentre activo. De esta forma se podrá tratar de manera proactiva cada situación de riesgo presentada o, en su defecto, contar con suficiente material para generar planes alternativos de contingencia.</p>
							
							<p>La metodología desarrollada en este trabajo es una herramienta Web de uso libre que brinda la posibilidad de efectuar tareas de identificación de riesgos, plan de riesgo en base a clasificaciones estandar y planes de contingencia asociada a cada riesgo. La implementación de esta herramienta se desarrollará mediante software libre, con características compatibles de una aplicación Web para la Gestión de Riesgos de Proyectos de desarrollo de Sistemas de Software.</p>
						</div>
					</section>

			</div>

	</body>
</html>