<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | inicio</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Fallo en el email.</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
<p>NO existe un usuario con ese email.</p>
</div>
					</section>

			</div>

	</body>
</html>


