<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | inicio</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Recuperar contraseña.</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
							<%= form_tag(controller: "pages", action: "recuperarPass", method: "post") do %>
  <%= label_tag(:email, "Introduzca su correo:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Enviar") %>
<% end %>
</div>
					</section>

			</div>

	</body>
</html>


