<% user @current_user %>
<%= form_for(@impacto_riesgo) do |f| %>
  <% if @impacto_riesgo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impacto_riesgo.errors.count, "error") %> prohibited this impacto_riesgo from being saved:</h2>

      <ul>
      <% @impacto_riesgo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	#impacto_riesgo_nombre{
		width: 250px;
	}
</style>
  <div class="field">
    <%= f.label :nombre %><br>
     <%= f.text_field :nombre, :required=>true,:maxlength=>"255" %>
      </div>
       <div class="field">
    <%= f.label :ponderacion %><br>
     <%= f.number_field :ponderacion, :required=>true,:min=>"1",:max=>100 %>
      </div>
  <div class="actions">
    <%if @impacto_riesgo.id!=nil%>
    <input type="submit" name="commit" value="Modificar" onclick="if(notNull(document.getElementById('impacto_riesgo_nombre'))&&notNull(document.getElementById('impacto_riesgo_ponderacion'))){parent.document.getElementById('edit').style.display='none';var x = parent.document.getElementById('riesgo_impacto');
    x.options[x.selectedIndex].text = document.getElementById('impacto_riesgo_nombre').value;parent.document.getElementById('riesgo_impacto').disabled=false;}">
    <%else%>
    <input type="submit" name="commit" value="Añadir" onclick="if(notNull(document.getElementById('impacto_riesgo_nombre'))&&notNull(document.getElementById('impacto_riesgo_ponderacion'))){parent.document.getElementById('add').style.display='none';var x = parent.document.getElementById('riesgo_impacto');
    var option = document.createElement('option');
    option.text = document.getElementById('impacto_riesgo_nombre').value;
<%tp=ImpactoRiesgo.new%>
    <%tp.idUsuario=0%>
    <%tp.nombre="nombre Vacio"%>
    <%tp.ponderacion=1%>
    <%tp.save%>
option.value=<%=ImpactoRiesgo.all.last.id+1%>;
<%tp.destroy%>
    x.add(option);}"">
    <%end%>
  </div>
<% end %>

<script>
	function notNull(elemento) {
 	var Nombre=elemento.value;
	
   if(!Nombre || /^\s*$/.test(Nombre) ||Nombre==""){
   	elemento.style.borderColor='red';
   	return false;
   }else{
		elemento.style.borderColor='green';
		return true;
	}
  
}
</script>