<p id="notice"><%= notice %></p>

<h1>Listing Impacto Riesgos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Idusuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @impacto_riesgos.each do |impacto_riesgo| %>
      <tr>
        <td><%= impacto_riesgo.nombre %></td>
        <td><%= impacto_riesgo.idUsuario %></td>
        <td><%= link_to 'Show', impacto_riesgo %></td>
        <td><%= link_to 'Edit', edit_impacto_riesgo_path(impacto_riesgo) %></td>
        <td><%= link_to 'Destroy', impacto_riesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Impacto riesgo', new_impacto_riesgo_path %>
