<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @impacto_riesgo.nombre %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @impacto_riesgo.idUsuario %>
</p>

<%= link_to 'Edit', edit_impacto_riesgo_path(@impacto_riesgo) %> |
<%= link_to 'Back', impacto_riesgos_path %>
