<%= form_for(@riesgo, :html=>{:onsubmit=>"return validacionRiesgo();"}) do |f| %>
  <% if @riesgo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@riesgo.errors.count, "error") %> prohibited this riesgo from being saved:</h2>

      <ul>
      <% @riesgo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	form select{
	 height: 30px;
    padding: 0;
}
</style>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :onkeyup=>"notNull(this);" %>
  </div>
  <div class="field" style="display: inline-block">
    <label for="riesgo_categoria">Categoria  <i class="fa fa-plus-circle fa-2x" onclick="document.getElementById('riesgo_categoria').disabled=false;if(document.getElementById('add1').style.display=='block'){document.getElementById('add1').style.display='none'}else{document.getElementById('add1').style.display='block';document.getElementById('edit1').style.display='none';}">
  
    </i> <i class="fa fa-pencil-square-o fa-2x" onclick="if(document.getElementById('riesgo_categoria').value!='Seleccione una categoria'){document.getElementById('edit1').src='/categoria_riesgos/'+document.getElementById('riesgo_categoria').value+'/edit'};if(document.getElementById('riesgo_categoria').value!='Seleccione una categoria'){if(document.getElementById('edit1').style.display=='block'){document.getElementById('edit1').style.display='none';document.getElementById('riesgo_categoria').disabled=false;}else{document.getElementById('edit1').style.display='block';document.getElementById('add1').style.display='none';document.getElementById('riesgo_categoria').disabled=true;}};"></i> 
    <i class="fa fa-times fa-2x" onclick="document.getElementById('riesgo_categoria').disabled=false;if(document.getElementById('riesgo_categoria').value!='Seleccione una categoria'){document.getElementById('add1').style.display='none';document.getElementById('edit1').style.display='none';$.ajax({
  url: '/delCategoriaRiesgos/'+document.getElementById('riesgo_categoria').value});var x = document.getElementById('riesgo_categoria');
    x.options[x.selectedIndex] =null};"></i></label> 
    
    <iframe id="add1" src="<%=new_categoria_riesgo_path%>" style="display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
    <iframe id="edit1" src="" style="display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
          <select name="riesgo[categoria]" id="riesgo_categoria" onclick="notNull(this);">
  <%= content_tag(:option, "Seleccione una categoria", value: "Seleccione una categoria") %>
  <% @categoria_riesgos.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).order(:nombre).each do |categoria_riesgo|%>

  <%if @riesgo.categoria.eql? categoria_riesgo.nombre%>
    <%= content_tag(:option, categoria_riesgo.nombre, value: categoria_riesgo.id, selected: true) %>
    <%else%>
    <%= content_tag(:option, categoria_riesgo.nombre, value: categoria_riesgo.id) %>
    <%end%>
    
  <% end %>
</select>
  </div>
  <div class="field" style="display: inline-block">
    <%= f.label :tipo %><br><br />
    <%= f.text_field :tipo, :onkeyup=>"notNull(this);"%>
  </div>
  <div class="field" style="display: inline-block">
    <label for="riesgo_impacto">Impacto  <i class="fa fa-plus-circle fa-2x" onclick="document.getElementById('riesgo_impacto').disabled=false;if(document.getElementById('add').style.display=='block'){document.getElementById('add').style.display='none'}else{document.getElementById('add').style.display='block';document.getElementById('edit').style.display='none';}">
  
    </i> <i class="fa fa-pencil-square-o fa-2x" onclick="if(document.getElementById('riesgo_impacto').value!='Seleccione un impacto'){document.getElementById('edit').src='/impacto_riesgos/'+document.getElementById('riesgo_impacto').value+'/edit'};if(document.getElementById('riesgo_impacto').value!='Seleccione un impacto'){if(document.getElementById('edit').style.display=='block'){document.getElementById('edit').style.display='none';document.getElementById('riesgo_impacto').disabled=false;}else{document.getElementById('edit').style.display='block';document.getElementById('add').style.display='none';document.getElementById('riesgo_impacto').disabled=true;}};"></i> 
    <i class="fa fa-times fa-2x" onclick="document.getElementById('riesgo_impacto').disabled=false;if(document.getElementById('riesgo_impacto').value!='Seleccione un impacto'){document.getElementById('edit').style.display='none';document.getElementById('add').style.display='none';$.ajax({
  url: '/delImpactoRiesgos/'+document.getElementById('riesgo_impacto').value});var x = document.getElementById('riesgo_impacto');
    x.options[x.selectedIndex] =null};"></i></label> 
    
    <iframe id="add" src="<%=new_impacto_riesgo_path%>" style="height: 190px;display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
    <iframe id="edit" src="" style="height: 190px;display:none;position: fixed; z-index: 99; background-color: rgba(172,220,218,1);border: solid 2px;border-radius: 20px;"></iframe><br>
    
     <select name="riesgo[impacto]" id="riesgo_impacto" onclick="notNull(this);">
  <%= content_tag(:option, "Seleccione un impacto", value: "Seleccione un impacto") %>
  <% @impacto_riesgos.where(:idUsuario=>Grupo.all.select(:idGrupoUsuario).where(:idUsuario=>@current_user["id"])).group(:nombre).order(ponderacion: :desc).each do |impacto_riesgo|%>

  <%if @riesgo.impacto.eql? impacto_riesgo.nombre%>
    <%= content_tag(:option, impacto_riesgo.nombre, value: impacto_riesgo.id, selected: true) %>
    <%else%>
    <%= content_tag(:option, impacto_riesgo.nombre, value: impacto_riesgo.id) %>
    <%end%>
    
  <% end %>
</select>
  </div>
  <div class="field" style="display: inline-block">
    <%= f.label :probabilidad %><br><br />
     <%= f.select(:probabilidad) do %>
     <%
 contador = 0;
 limite = 100;
%>
<% while contador < limite %>
   <% contador += 0.5; %>
   <%if @riesgo.probabilidad!=nil and @riesgo.probabilidad.to_d==contador%>
    <%= content_tag(:option, contador.to_s+"%", value: contador, selected: true ) %>
    <%else%>
    <%= content_tag(:option, contador.to_s+"%", value: contador) %>
    <%end%>
  <% end %>
<% end %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :factores %><br>
    <%= f.text_area :factores,:onkeyup=>"notNull(this);" %>
  </div>
  <div class="field">
    <%= f.label :reduccion %><br>
    <%= f.text_area :reduccion, :onkeyup=>"notNull(this);" %>
  </div>
  <div class="field">
    <%= f.label :supervision %><br>
    <%= f.text_area :supervision %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
	<script>
        function tlp() {
            $('.tooltip').tooltipster({
            	contentAsHTML: true//,
   //trigger: 'click'
            });
        }
         window.onload = tlp;
         
         
    </script>