<h1>Lista de Riesgos</h1>

<table>
  <thead>
    <tr>
    	<th colspan="2"></th>
      <th style="border: black 1px solid;padding: 5px;">Nombre</th>
      <th style="border: black 1px solid;padding: 5px;">Probabilidad</th>
       <th style="border: black 1px solid;padding: 5px;">Impacto</th>
     <!-- <th style="border: black 1px solid;padding: 5px;">Categoria</th>
      <th style="border: black 1px solid;padding: 5px;">Tipo</th>
      <th style="border: black 1px solid;padding: 5px;">Descripcion</th>
      <th style="border: black 1px solid;padding: 5px;">Factores</th>
      <th style="border: black 1px solid;padding: 5px;">Reduccion</th>
      <th style="border: black 1px solid;padding: 5px;">Supervision</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>
<%contador=0%>
<%add=0%>
  <tbody>
    <% @riesgos.where(:idUsuario=>Proyecto.find(@current_proyecto).idUsuario).sort_by { |a| -(Float(a.probabilidad)*Float(ImpactoRiesgo.all.where(:idUsuario=>Proyecto.find(@current_proyecto).idUsuario).where(:nombre=>a.impacto).first["ponderacion"])) }.each do |riesgo| %>
      
      <tr>
      	<%if riesgo.idProyecto==@current_proyecto%>
      	<%contador=contador+1%>
      	<td colspan="2"></td>
        <td style="border: black 1px solid;"><%= riesgo.nombre %></td>
        <td style="border: black 1px solid;"><%= riesgo.probabilidad %></td>
        <td style="border: black 1px solid;"><%= riesgo.impacto %></td>
        <!--<td style="border: black 1px solid;"><%= riesgo.categoria %></td>
        <td style="border: black 1px solid;"><%= riesgo.tipo %></td>
        <td style="border: black 1px solid;"><%= riesgo.descripcion %></td>
        <td style="border: black 1px solid;"><%= riesgo.factores %></td>
        <td style="border: black 1px solid;"><%= riesgo.reduccion %></td>
        <td style="border: black 1px solid;"><%= riesgo.supervision %></td>-->
        <td ><%= link_to 'Show', riesgo %></td>
        <td ><%= link_to 'Edit', edit_riesgo_path(riesgo) %></td>
        <td ><%= link_to 'Destroy',delRiesgo_path(riesgo) %></td>
        <%end%>
      </tr>
      
          <%if contador==@lineaCorte and add==0%>
          <%add=1%>
    <tr>
    	<%if @lineaCorte>1%>
    	<td style="font-size: x-large;"><%= link_to subir_path do %><i class="fa fa-arrow-circle-up" style="color: rebeccapurple;"></i><%end%></td>
    	<%else%>
    	<td></td>
    	<%end%>
    	<%if @riesgos.where(:idProyecto => @current_proyecto).count > @lineaCorte%>
    	<td style="font-size: x-large;"><%= link_to bajar_path do %><i class="fa fa-arrow-circle-down" style="color: rebeccapurple;"></i><%end%></td>
    	<%else%>
    	<td></td>
    	<%end%>
    	<td colspan="3" style="background: yellow;font-size: x-large;border: black 1px solid;">---------------Linea de corte---------------</td>
    	
    </tr>
    <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Riesgo', new_riesgo_path %>
