<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Proyecto</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Información Riesgo <%= @riesgo.id %>. <%= @riesgo.nombre %></h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @riesgo.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @riesgo.categoria %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @riesgo.tipo %>
</p>

<p>
  <strong>Impacto:</strong>
  <%= @riesgo.impacto %>
</p>

<p>
  <strong>Probabilidad:</strong>
  <%= @riesgo.probabilidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @riesgo.descripcion %>
</p>

<p>
  <strong>Factores:</strong>
  <%= @riesgo.factores %>
</p>

<p>
  <strong>Reduccion:</strong>
  <%= @riesgo.reduccion %>
</p>

<p>
  <strong>Supervision:</strong>
  <%= @riesgo.supervision %>
</p>

<%= link_to 'Edit', edit_riesgo_path(@riesgo) %> |
<%= link_to 'Back', proyecto_path(@current_proyecto) %>
</div>
					</section>

			</div>

	</body>
</html>

