<%= form_for(@usuario,:html=>{:onsubmit=>"return validacionRegistro();"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="usuario_username">Nombre de Usuario (se utilizará para loguearse)</label><br>
<%= f.text_field :username, :onkeyup=>"notNull(this);", :maxlength=>"32" %>
  </div>
  <div class="field">
   <label for="usuario_alias">Nombre real o Alias</label><br>
   <%= f.text_field :alias, :onkeyup=>"notNull(this);", :maxlength=>"255" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :onkeyup=>"validarEmail(this);" %>
  </div>
  <div class="field">
    <%= f.label :contraseña %><br>
    <font style="size: small;">(Requiere un mínimo de 8 caracteres con al menos 2 numeros y 2 letras)</font>
   <input type="password" name="usuario[password]" id="usuario_password" maxlength="32" onkeyup="validarContrasena(this);">
  </div>
  <div class="field">
    <%= f.label :repetir %><br>
    <font style="size: small;">(Requiere un mínimo de 8 caracteres con al menos 2 numeros y 2 letras)</font>
    <input type="password" name="usuario[password2]" id="usuario_password2" maxlength="32" onkeyup="validarContrasena(this);">
  </div>
  
  <div class="actions">
    <input type="submit" name="commit" value="Registrarse">    
  </div>
<% end %>
