<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | Editar Usuario</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Mis Datos</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">						
<%= form_for(@usuario,:html=>{:onsubmit=>"return validacionRegistro1();"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <label for="usuario_alias">Nombre real o Alias</label><br>
   <%= f.text_field :alias, :onkeyup=>"notNull(this);", :maxlength=>"255" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :onkeyup=>"validarEmail(this);" %>
  </div>
  <div class="field">
    <%= f.label :contraseña %><br>
   <input type="password" name="usuario[password]" id="usuario_password" maxlength="32" onkeyup="validarContrasena(this);" value="<%=@usuario.password%>">
  </div>
  <div class="field">
    <%= f.label :repetir %><br>
    <input type="password" name="usuario[password2]" id="usuario_password2" maxlength="32" onkeyup="validarContrasena(this);" value="<%=@usuario.password%>">
  </div>
  
  <div class="actions">
    <input type="submit" name="commit" value="Modificar">    
  </div>
<% end %>
</div>
					</section>

			</div>

	</body>
</html>
