<!DOCTYPE HTML>
<html>
	<head>
		<title>Web de administracion y gestion de riesgos | inicio</title>
		<% user @current_user %>
	</head>
	<body>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Registrarse</h2>
							</header>
						</div>
					</section>

				<!-- Portfolio -->
					<section id="top" class="two">
						<div class="container">						

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de usuario:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @usuario.alias %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>



<%= link_to 'Editar', edit_usuario_path(@usuario) %>
</div>
					</section>

			</div>

	</body>
</html>