<% user @current_user %>
<%= form_for(@categoria_riesgo) do |f| %>
  <% if @categoria_riesgo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_riesgo.errors.count, "error") %> prohibited this categoria_riesgo from being saved:</h2>

      <ul>
      <% @categoria_riesgo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
	#categoria_riesgo_nombre{
		width: 280px;
	}
</style>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :required=>true,:maxlength=>"255" %>
  </div>
  <div class="actions">
    <%if @categoria_riesgo.id!=nil%>
    <input type="submit" name="commit" value="Modificar" onclick="
    if(notNull(document.getElementById('categoria_riesgo_nombre'))){ parent.document.getElementById('edit1').style.display='none';var x = parent.document.getElementById('riesgo_categoria');
    x.options[x.selectedIndex].text = document.getElementById('categoria_riesgo_nombre').value;parent.document.getElementById('riesgo_categoria').disabled=false;}">
    <%else%>
    <input type="submit" name="commit" value="Añadir" onclick="if(notNull(document.getElementById('categoria_riesgo_nombre'))){parent.document.getElementById('add1').style.display='none';var x = parent.document.getElementById('riesgo_categoria');
    var option = document.createElement('option');
    option.text = document.getElementById('categoria_riesgo_nombre').value;
    <%tp=CategoriaRiesgo.new%>
    <%tp.idUsuario=0%>
    <%tp.nombre="nombre Vacio"%>
    <%tp.save%>
option.value=<%=CategoriaRiesgo.all.last.id+1%>;
<%tp.destroy%>
    x.add(option);}">
    <%end%>
  </div>
<% end %>

<script>
	function notNull(elemento) {
 	var Nombre=elemento.value;
	
   if(!Nombre || /^\s*$/.test(Nombre) ||Nombre==""){
   	elemento.style.borderColor='red';
   	return false;
   }else{
		elemento.style.borderColor='green';
		return true;
	}
  
}
</script>
