<p id="notice"><%= notice %></p>

<h1>Listing Categoria Riesgos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Idusuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_riesgos.each do |categoria_riesgo| %>
      <tr>
        <td><%= categoria_riesgo.nombre %></td>
        <td><%= categoria_riesgo.idUsuario %></td>
        <td><%= link_to 'Show', categoria_riesgo %></td>
        <td><%= link_to 'Edit', edit_categoria_riesgo_path(categoria_riesgo) %></td>
        <td><%= link_to 'Destroy', categoria_riesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria riesgo', new_categoria_riesgo_path %>
