<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria_riesgo.nombre %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @categoria_riesgo.idUsuario %>
</p>

<%= link_to 'Edit', edit_categoria_riesgo_path(@categoria_riesgo) %> |
<%= link_to 'Back', categoria_riesgos_path %>
